@import '../color.scss';
@import '../assets/fonts/fonts.scss';

.home_container {
    background-color: $red_semi;
    .carousel_container {
        background-color: $red;
        position: relative;
        // padding: 20px;
        z-index: 3;
        flex: 1;
        height: calc(100vh - 120px);

        @media screen and (max-width: 1440px) {
            height: calc(100vh - 120px);
        }

        @media screen and (max-width: 1200px) {
            height: 450px;
        }

        @media screen and (max-width: 991px) {
            height: 430px;
        }

        @media screen and (max-width: 768px) {
            height: 350px;
        }

        @media screen and (max-width: 576px) {
            height: 320px;
        }

        .banner_carousel {
            height: 100%;

            div {
                height: 100% !important;
            }

            .css-1f8sh1y {
                height: 100% !important;
            }

            .MuiPaper-root {
                // background-color: transparent;
                box-shadow: none;
                border-radius: 0px;

                .banner_img {
                    img {
                        width: 100%;
                        height: calc(100% + 98px);

                        // filter: grayscale(100);
                        @media screen and (max-width: 1366px) {
                            height: calc(100% + 89px);
                        }

                        @media screen and (max-width: 1279px) {
                            height: calc(100% + 79px);
                        }

                        @media screen and (max-width: 1023px) {
                            height: calc(100% + 70px);
                        }

                        @media screen and (max-width: 576px) {
                            height: calc(100% + 42px);
                        }
                    }
                }
            }

            // .css-1abc02a {
            //     z-index: 10;

            //     .MuiButtonBase-root {
            //         opacity: 1;
            //         width: 40px;
            //         height: 40px;
            //         border: 1px solid $white;
            //         background-color: $red;
            //         margin: 0px 23px;

            //         @media screen and (max-width: 1023px) {
            //             width: 35px;
            //             height: 35px;
            //         }

            //         @media screen and (max-width: 575px) {
            //             width: 25px;
            //             height: 25px;
            //         }

            //         .MuiSvgIcon-root {
            //             width: 15px;
            //             height: 15px;

            //             @media screen and (max-width: 1023px) {
            //                 width: 13px;
            //                 height: 13px;
            //             }

            //             @media screen and (max-width: 575px) {
            //                 width: 11px;
            //                 height: 11px;
            //             }
            //         }
            //     }
            // }

            // .css-hn784z {
            //     z-index: 10;

            //     .MuiButtonBase-root {
            //         opacity: 1;
            //         width: 40px;
            //         height: 40px;
            //         border: 1px solid $white;
            //         background-color: $red;
            //         margin: 0px 23px;

            //         @media screen and (max-width: 1023px) {
            //             width: 35px;
            //             height: 35px;
            //         }

            //         @media screen and (max-width: 575px) {
            //             width: 25px;
            //             height: 25px;
            //         }

            //         .MuiSvgIcon-root {
            //             width: 15px;
            //             height: 15px;

            //             @media screen and (max-width: 1023px) {
            //                 width: 13px;
            //                 height: 13px;
            //             }

            //             @media screen and (max-width: 575px) {
            //                 width: 11px;
            //                 height: 11px;
            //             }
            //         }
            //     }
            // }

            // .css-1m9128y {
            //     z-index: 10;
            //     position: absolute;
            //     bottom: 20px;
            //     margin: 0px;
            //     height: unset !important;

            //     @media screen and (max-width: 1023px) {
            //         bottom: 14px;
            //     }

            //     .MuiButtonBase-root {
            //         height: 12px;
            //         width: 12px;
            //         margin: 0px 1px;

            //         .MuiSvgIcon-root {
            //             fill: $white;
            //             width: 100%;
            //             height: 100%;
            //             font-size: 12px;
            //         }

            //         &.css-8ucetn-MuiButtonBase-root-MuiIconButton-root {
            //             .MuiSvgIcon-root {
            //                 fill: $red;
            //             }
            //         }
            //     }
            // }
        }

        .carousel_overlay {
            margin-left: 0;
            margin-top: 0;
            position: absolute;
            top: 0;
            z-index: 5;
            left: 50;
            width: 100%;
            height: 100%;
            display: flex;

            // background-color: rgba(217, 23, 23, 0.6);
            // pointer-events: none;
            @media screen and (max-width: 991px) {
                display: block;
            }

            .overlay_carousel {
                width: 40%;
                margin-left: 100px;
                align-self: center;

                @media screen and (max-width: 1100px) {
                    width: 50%;
                }

                @media screen and (max-width: 991px) {
                    width: 60%;
                    margin-top: 90px;
                    margin-left: 90px;
                    height: 45%;
                }

                @media screen and (max-width: 768px) {
                    width: 70%;
                    margin-top: 60px;
                    margin-left: auto;
                    margin-right: auto;
                    height: 45%;
                }

                @media screen and (max-width: 576px) {
                    width: 70%;
                    margin-top: 60px;
                    margin-left: auto;
                    margin-right: auto;
                    height: 40%;
                }

                .overlay_text {
                    .overlay_head {
                        max-width: 100%;

                        .MuiTypography-root {
                            font-size: 2.5em;
                            font-family: GillSans-Medium;
                            color: $white;

                            @media screen and (max-width: 768px) {
                                font-size: 2.0em;
                            }

                            @media screen and (max-width: 576px) {
                                font-size: 1.4em;
                            }
                        }
                    }

                    .overlay_body {
                        max-width: 95%;

                        .MuiTypography-root {
                            font-size: 1.2em;
                            font-family: GillSans-Light;
                            color: $white;

                            @media screen and (max-width: 768px) {
                                font-size: 1em;
                            }

                            @media screen and (max-width: 576px) {
                                font-size: 0.9em;
                            }
                        }
                    }
                }

            }
        }
    }

    .Product_container{
        .Product_header{
            text-align: center;
            .MuiTypography-root{
                color: $red;
                font-size: 2.0em;
                font-family: GillSans-Medium;
                @media screen and (max-width:576px){
                    font-size: 1.8em;
                }
            }
        }
        .Product_display{
            background-color: $white;
        }
    }
    .Kateel_container {
        .k_title {
            text-align: center;
            .MuiTypography-root{
                color: $red;
                padding: 5px;
                font-size: 2.0em;
                font-family: GillSans-Medium;
                @media screen and (max-width:576px){
                    font-size: 1.8em;
                }
            }
        }

        .k_description {
            display: flex;
            flex-direction: row;
            justify-content: center;
            @media screen and (max-width:576px) {
                flex-direction: column;
            }
            .k_left {
                display: flex;
                width: 33%;
                text-align: center;
                align-items: center;
                @media screen and (max-width:576px) {
                    width: 100%;
                }
            }

            .k_mid {
                display: flex;
                justify-content: center;
                background-color: $white;
                width: 33%;
                @media screen and (max-width:576px) {
                    width: 100%;
                }
                .k_img {
                    display: flex;
                    margin-bottom: 10px;
                    width: 250px;
                    max-height: 350px;
                    filter: grayscale(40%);
                    @media screen and (max-width:576px) {
                        width: 200px;
                        max-height: 320px;
                    }
                }
            }
            .k_right {
                display: flex;
                width: 33%;
                text-align: center;
                align-items: center;
                @media screen and (max-width:576px) {
                    width: 100%;
                }
            }
        }
    }
}