.App {
  text-align: center;
  background-image: url(../public/bg1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  color: blanchedalmond;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blanchedalmond;
  font-size: 1.2em;
}

