@import '../color.scss';
@import '../assets/fonts/fonts.scss';

.MuiBox-root {
    .MuiPaper-root {
        background-color: $white;

        .MuiToolbar-root {
            .MuiButtonBase-root {
                .MuiSvgIcon-root {
                    color: $green;
                }
            }

            .MuiTypography-root {
                color: $green;
                font-size: 1.4em;
                font-family: GillSans;

                @media screen and (max-width: 991px) {
                    font-size: 1.2em;
                }

                @media screen and (max-width: 768px) {
                    font-size: 1.0em;
                }

                @media screen and (max-width: 576px) {
                    font-size: 0.9em;
                }

            }
        }
    }

    .MuiDrawer-root {
        .MuiPaper-root {
            .MuiList-root {
                font-family: GillSans;
                color: $green;

                .MuiButtonBase-root {
                    .MuiListItemIcon-root {
                        .MuiSvgIcon-root {
                            color: $green;
                        }
                    }

                    .MuiListItemText-root {
                        .MuiTypography-root{
                        font-size: 1.0em;
                        color: $green;
                        font-family: GillSans;

                        @media screen and (max-width: 991px) {
                            font-size: 0.9em;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 0.8em;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 0.7em;
                        }
                    }
                    }
                    &.Mui-selected{
                        background-color: $green_semi;
                        .MuiListItemText-root{
                            .MuiTypography-root{
                                color: $green;
                                font-family: GillSans-Medium;
                                text-decoration:none;
                            }
                        }
                    }
                }
            }

        }

    }
}